<% if @user && @user.id %>
    <h2 class="pizza_index_headers"><u>Your Pizzas, <%= @user.name %>!</u></h2>
<% end %>

<div class="columns">
    <% if @user && @user.id %>
        
        <% @user.pizzas.each do |pizza| %>
            <p class="pizza-links"><%= link_to pizza.name, pizza %></p>
        <% end %>
    <% end %>
</div>

<h2 class="pizza_index_headers"><u>All Pizzas</u></h2>
<div class="columns">
    <% @pizzas.each do |pizza| %>
        <p class="pizza-links"><%= link_to pizza.name, pizza %></p>
    <% end %>
</div>
