<% if @user && @user.id %>
    <h2><u>Your Pizzas, <%= @user.name %>!</u></h2>
<% end %>

<div class="columns">
    <% if @user && @user.id %>
        
        <% @user.pizzas.each do |pizza| %>
            <p><%= link_to pizza.name, pizza %></p>
        <% end %>
    <% end %>
</div>

<h2><u>All Pizzas</u></h2>
<div class="columns">
    <% @pizzas.each do |pizza| %>
        <p><%= link_to pizza.name, pizza %></p>
    <% end %>
</div>

<section>
    <div class="icons"><br><br>
    <i class="fas fa-pizza-slice fa-3x">Pizza</i><br><br>
    
    <i class="fas fa-pizza-slice fa-3x" alt="pizza icon">Check All Pizzas</i> <br><br>
   
    <i class="fas fa-chart-pie fa-3x">Check your analytics</i> <br><br>
    <i class="fas fa-sign-in-alt fa-3x">Login</i><br><br>
    <i class="fas fa-user-alt-slash fa-3x">Logout</i><br><br>
    </div>
</section>