#all_pizzas_container_with_header {
    width: 100%;
}

.all_pizzas {
    background-color: yellow;
    border-radius: 30%;
    padding-top: 0.50em;
    padding-bottom: 0.50em;
}

#all_pizzas_container {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-row-gap: 10px;
    grid-gap: 10px;
    margin: 0 auto;
    text-align: center;
}

h4 {
    display: block;
    margin-block-start: 0.00em;
    margin-block-end: 0.00em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}