/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 h1 {
    display: grid;
    color: hsl(155 155 0);
    text-align: center;

} 

h3 {
    text-align: center;
    color: salmon;
 }

 body {
     text-align: center;
 }

 .btn {
    align-content: center;
    color: salmon;
 }

 html {
     background: #00ffaa;
 }

 img {
    width: 75%;
    border-radius: 50%;
 }

 .icons {
    color: salmon;
    font-size: 20px;
 }