.columns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-gap: 10px;
    margin: 0 auto;
    text-align: center;
}

.pizza-attributes {
    color: white;
    text-shadow: 0 0 10px black;
}

.pizza-toppings{
    color: white;
    text-shadow: 0 0 10px black;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.toppings-list {
    align-content: center;
}

.columns a {
    color: white;
}

.pizza-links {
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    transition: all 0.1s;
    font-size: 130%;
    cursor: pointer;
}

.pizza-links:hover {
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    color: hsl(0, 50%, 50%);
    transform: scale(1.2);
}

.pizza_index_headers {
    font-size: 250%;
}

#no_pizzas_header {
    color: white;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    display: flex;
    justify-items: center;
}